/* *
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
} */
.cardsTable{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*3 עמודות ברוחב שווה*/
    /* gap: 0 2%; רווח בין התמונות */
    margin-top: 0;
    top: 0;
    margin-right: 18%;
    border-spacing: 10%;
}

.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* background: linear-gradient(45deg,#fbda61,#ff5acd); */
    box-sizing: border-box;
    margin-bottom: 15%;
    margin-left: 2%;

}
.card{
    position: relative;
    width: 50vh;
    height: 35vh;
    /* height: 450px; */
    /* background: #f09191; */
    border-radius: 8%;
    box-shadow:0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
    /* top: 50%; */


    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* background: linear-gradient(45deg,#fbda61,#ff5acd); */
    /* box-sizing: border-box; */
    margin-bottom: 33%;
    margin-left: 2%;
    /* background: #555; */
}
.card:hover{
    width: 50vh;
    height: 45vh;
}
.imgBx{
    position: absolute;
    left: 50%;
    top:-30%;
    transform: translateX(-50%);
    width:90%;
    height: 80%;
    background: #fff;
    border-radius: 8%;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .imgBx{
    /* width: 60%;
    height: 30%; */
    width: 70%;
    height: 60%;
    top:-45%;
}
.imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    text-align: center;
    margin-top: -40%;
    text-align: center;
    /* background: #ff5acd; */
}
.card .content .details{
    padding: 0%;
    text-align: center;
    width: 100%;
    color: #ff5acd;
    /* height: 40vh; */
    transition: 0.5s;
    transform: translateY(120px);
    margin-top: 2%;
    /* background: #555; */
    /* position:absolute; */
}
.card:hover .content .details{
    transform: translateY(0px);  
    /* margin-top: -25%; */
}

.card .content .details h2{
 font-size: 1.5em;
 font-weight: 600;
 /* color: #555; */
 line-height: 1.2em; 
 margin-right: 6%;
 color: #ff5acd;
 /* padding-top:-2% ; */
}
.card .content .details h2 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
    line-height: 1.2em; 
   
}
.card .content .details .data{
    display: flex;
    justify-content: space-between;
    margin-bottom:  5% ;
    /* margin-right: 6%; */
    flex-direction: column;
}
.card .content .details .data h3{
   font-size: 1em;
   color: #555;
   line-height: 1.2em;
   font-weight: 600; 
   /* margin-left:15% ; */
   /* margin-inline-start: 25%; */
   text-align: center;
}
.card .content .details .data h3 span{
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.5;
}
.card .content .details .actionBtn{
    display: flex;
    justify-content: space-between;
    /* gap:20px; */
    margin-top: 2%;
}
.card .content .details .actionBtn button{
    padding: 2% 5%;
    border-radius: 4%;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #ff5acd;
    color:#fff;
    cursor:pointer;
   
}
.card .content .details .actionBtn button:nth-child(2){
   border: 1px solid #999;
   color: #999;
   background: #fff;

}


